<div class="top-50 large center-text width-60">
  <span class="title-600">Welcome to <span class="red-title-600">Zinger-Admin</span> Console</span>
</div>
<div class="top-10 very-small center-text width-60">
  <span class="title-100">An Open Source Framework for building Hyperlocal Delivery Mobile and Web applications</span>
</div>
