HELP.md
target/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.DS_Store

.idea
*.iws
*.iml
*.ipr

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

.vscode/
lib
src/main/resources/static/
src/main/resources/templates/
src/test
src/main/resources/application.properties
