<div>
  <h3>Hi</h3>
  <p>Welcome to Zinger</p>
  <p>Click the following button to reset your password</p>
  <p>
    <a href="<%= @link %>" style="background: #0857ab; border-radius: 2px; border: none; color: #fff; display: inline-block; font-size: 13px; line-height: 1.4; margin: 4px 2px; padding: 10px 30px; text-align: center; text-decoration: none;" >Forgot Password</a>
  </p>
  <p>If the button isn’t working? Please copy-paste the below URL in the browser:</p>
  <a href="<%= @link %>"><%= @link %></a>
</div>
