<div>
  <h3>Hi</h3>
  <p>Welcome to Zinger</p>
  <p>
    Please enter this One-Time Password (OTP) : <b><%= @code %></b>. OTP is valid for 5 minutes only.
  </p>
  <p>Please ignore this mail if you haven't initiated this request.</p>
</div>
