<div class="component">
  <%= link_to 'Zinger', dashboard_path, class: 'left red-title-700 large left-50' %>
  <div class="right pad-10">
    <% @header[:links].each do |link| %>
      <%= link_to link[:title], link[:path], class: "nav-item nav-link #{link[:active] ? 'active' : '' }" %>
    <% end %>
    <% if session[:authorization].present? %>
      <%= link_to 'Logout', logout_auth_index_path, method: :delete, class: 'nav-item nav-link' %>
    <% end %>
  </div>
  <div class="medium center pad-10 title-600"><%= @header[:title] %></div>
</div>

<style type="text/css">
  .nav-item {
    color: var(--grey);
    font-weight: var(--font-400);
    font-size: var(--small);
    margin: 10px;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    background: none;
  }

  .nav-item::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: var(--red);
  }

  .nav-item.active:before {
    width: 100%;
  }

  .nav-link::before {
    width: 0;
    top: 30px;
  }

  .nav-link:not(.active):not(.inactive):hover:before {
    width: 100%;
  }

  .nav-item i:hover {
    color: var(--red);
  }
</style>
