<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Zinger</title>

  <link rel="icon" type="image/png" href="/images/zinger-logo-32x32.png">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- Scripts -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
</head>

<body>
  <%= yield %>
</body>
</html>
